<br>

<img src="./jaime.jpg" alt="Profile picture" id="profile_pic">

<div id=my_info>
<b>Hello, I'm Jaime.</b>
    <br><br>
    I am a developer who works in many areas of development but my main interest lie in machine learning, efficient algorithms, web development, and numerical analysis.<br> <br>
    
    
    My past work involved fluctuational electro-magnetism (Casimir forces), quantum gravity, and dark matter.  Feel free to visit <a href="https://arxiv.org/search/advanced?advanced=&terms-0-operator=AND&terms-0-term=%22Jaime+Varela%22&terms-0-field=author&classification-physics=y&classification-physics_archives=all&date-filter_by=all_dates&date-year=&date-from_date=2010&date-to_date=2013&size=50&order=-announced_date_first">arxiv</a> if you want to learn more about such work.  To learn about my work with web development you can visit my <a href="https://s3.us-east-2.amazonaws.com/jman31415926/programming_res.pdf">resume</a>.
    <br><br>
    
    Some example programs I have written can be found in <a href="https://github.com/jaime-varela">git hub</a>. Alternatively, you can live-run some programs in the programs section above.
</div>
